<header>
  <div class="toggle" (click)="navOpened()">
    <i class="fas fa-2x" [ngClass]="{'fa-bars':!isNavOpen, 'fa-times':isNavOpen}"></i>
  </div>
  <nav>
    <ul class="nav nav--hightlighted" [ngClass]="{'nav__open':isNavOpen}">
      <li class="nav__brand"><a href="#"> Gonzalo <span class="gray">Alvarez</span>  </a></li>
      <li class="nav__item"><a (click)="scroll('about')">About/Acerca</a></li>
      <li class="nav__item"><a (click)="scroll('skill')" #skill>Skill</a></li>
      <li class="nav__item"><a (click)="scroll('portfolio')" #portfolio>Projects/Proyectos</a></li>
      <li class="nav__item"><a (click)="scroll('contato')" #contato>Contact/Contacto</a></li>
    </ul>
  </nav>
</header>