<footer class="contato" id="contato">
  <h2 class="contato__title" [@scrollAnimation]="state">Contact me / Contacto</h2>
  <a href="mailto:ssilva.bn@gmail.com" [@scrollAnimation]="state">
    <button class="btn btn-light btn-lg"><img src="../../../assets/img/mailbox.svg" id="linkedin"></button>
    
  </a>
  <div class="redes">
    <a href="https://www.linkedin.com/in/gonzaloealvarez/"><img src="../../../assets/img/linkedin.png" id="linkedin"></a>
    <a href="https://twitter.com"><img src="../../../assets/img/twitter.jpg" id="twitter" alt=""> </a>
    <a href="https://www.instagram.com/gonzalo_e.alvarez/"><img src="../../../assets/img/instagramLogo.jpg" id="instagramLogo" alt=""> </a>
    <a href="https://github.com/gonza7795"><img src="../../../assets/img/GitHubLogo.png" id="git" alt=""> </a>
    <a href="https://www.facebook.com/gonzalo.alvarez.9461/"><img src="../../../assets/img/facebookLogo.png" id="facebok" alt=""> </a>
  
</div>

<p>
  © 2022
</p>
<p>
  Argentina
</p>

<div >

  <img src="../../../assets/img/band-argentina.png" alt="" class="center">

</div>
 
</footer>

