@import "mixins";
@import "variables";

.contato {
  @include flex-container(column);
  padding: 50px;
  background-color: #316bb3;
  color: $white;

  &__title {
    margin-bottom: 40px;
  }
}

.list {
  display: flex;

  &__item {
    padding: 20px;
  }
}

@include mq-between(xs,md) {
  .btn-secondary {
    width: 200px;
    height: 70px;
    padding: 6px;
    font-size: 28px;
    transition: 1s ease;
  }
}


.container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #316bb3;
}
.redes{
  margin-right: 0.5em;
}
#logoAP{
  width: 150px;
}



img{
  width: 50px;
}
.btn{
  border-width: medium;
}

/*--- Para la vista de celular ---*/
@media (max-width: 575px){
  .container{
      flex-direction: column;
  }
  .redes{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .redes img{
      margin: 0.2em;
  }

  #cvimg{
    width: 150px;
  }
}



